
.env

node_modules/

logs/*.log

views/producto.html

css/producto.css

tools/producto.js

uploads/*
!uploads/.gitkeep

uploads/documents/*
!uploads/documents/.gitkeep

uploads/proof/*
!uploads/proof/.gitkeep