
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Varra de navegación para el sitio web">
    <meta name="author" content="Daniela Ponce">
    <meta  name="language" content="es">
    <link rel="stylesheet" href="/css/narbar.css"> 
    <script src="/tools/narbar.js" defer></script>
</head>
<body>

    <header class="header">
        <nav class="nav">
            <a href="/" class="logo nav-link"target="_blank">
                <img src="/uploads/logo.jpg" class="logocarrito" target="_blank">  MondoCompras</a>

                <button class="nav-toggle" aria-label="Abrir menú">    <!--la amurguesa va en midia cueri-->
                    <div >
                        <img class="icono-celular" src="/uploads/button.png" alt="icono-celular">
                    </div>
                </button>
            
            <ul class="nav-menu">
                <li class="nav-menu-item ">
                    <details>
                        <summary>Categoría</summary>
                            <section class="fondo">
                                <div id="categoryList" class="category-list"></div>
                            </section>
                    </details>
                </li> 
                <li class="nav-menu-item">
                    <a href="/formulario" class="nav-menu-link nav-link" target="_blank">Crea Cuenta</a>
                </li>
                <li class="nav-menu-item">
                    <a href="" class="nav-menu-link nav-link" target="_blank">Ingresa</a>
                </li>
                <li class="nav-menu-item">
                    <a href="" class="nav-menu-link nav-link" target="_blank">Mis Compras</a>
                </li>

            </ul>

            <button  href="/carrito" class="chango" aria-label="Abrir menú" >
                <img class="carrito" src="/uploads/carrito.png" alt="carrito">
            </button>

        </nav>   
    </header>

</body>
</html>



<!-- Entonces necesitás crear una página de carrito que lea los productos guardados cuando presionás "Agregar al carrito".

Como antes guardamos el carrito en localStorage, ahora el botón del carrito de tu navbar puede llevar a una vista:

/carrito

y ahí mostrar:

🖼 Imagen del producto
📦 Nombre
➕ Cantidad
💲 Precio unitario
🧮 Total por producto
💰 Total de compra

-->